{% extends "layout.html" %}
{% load promotion_tags %}

{% comment %}
Keep the same header and footer as the standard layout template but override the
main content area to split it into a sidebar and a content block
{% endcomment %}
{% block content_wrapper %}

{{context.url_path}}

<div class="container" id="main-wrapper">
        <section id="page-title">
            {% block breadcrumbs %}{% endblock %}
        </section>
        {% block header %}
            <div class="page-header action">
                <h1>{% block headertext %}{% endblock %}</h1>
            </div>
        {% endblock %}

        {% include "partials/alert_messages.html" %}
        <div class="row">
            {# Render promotions at the top of the left-hand sidebar #}
            <div class="col-lg-2 col-md-3">

                <section class="example-promotion">
                    <div id="promotions_left">
                        {% for promotion in promotions_left %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>
                </section>

                {% block column_left %}{% endblock %}

            </div>

            <div class="col-lg-10 col-md-9">

                <div class="example-promotion" id="promotions">
                    {% for promotion in promotions_page %}
                        {% render_promotion promotion %}
                    {% endfor %}
                </div>

                {% block content %}{% endblock %}
            </div>
        </div>
</div><!-- /container -->
{% endblock %}
