{% load url from future %}
{% load static %}
{% load staticfiles %}
{% load currency_filters %}
{% load simple_math %}
{% load humanize %}

<div id="getquote_wrap">

<form class="form-horizontal" id="getquote" method="GET" action="{%url 'options:quote' pk=product.pk product_slug=product.slug %}?{{get}}">{% csrf_token %}
        {% if custom_size %}
          {% include 'options/partials/custom_size_form.html' %}
        {% endif %}

        <div class="panel panel-default">
          <a data-toggle="collapse" href="#quantity_picker" class="panel-heading">Quantity (choose quantity or enter your own)</a>
        </div>
        <div id="quantity_picker" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-unstyled row">
                    {% for price in prices reversed %}
                    <li class="col-md-2 col-sm-3 col-xs-6 text-center" data-quantity={{price.quantity}}>
                        {{price.quantity}}
                    </li>
                    {%endfor%}
                </ul>
                    <div class="row">
                        <div class="col-md-4">
                          <span class="toggle-live" id="multifile_toggle"> Multi-file discount </span>
                          <span class="info" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title=""><img src="{% static "local/images/infoblue.png" %}"></span>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-sm-8 col-xs-12 control-label" id="choose_quantity_label">Choose or enter quantity</label>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="input-group">
                                        <input data-action="{{action}}" type="text" class="form-control" name="quantity" id="id_quantity" value="{{ quantity }}">
                                    </div>
                                </div>
                            </div>
                            <div id="multifile_inputs" style="display:none;">
                              <div class="form-group">
                                  <label class="col-sm-8 col-xs-12 control-label">Number of files</label>
                                  <div class="col-sm-4 col-xs-12">
                                      <div class="input-group">
                                          <input type="text" class="form-control" name="number_of_files" value="1">
                                          <span class="input-group-btn btn-group-vertical">
                                              <button type="button" class="btn btn-default" id="multifile_files_up_button"><span class="fa fa-angle-up"></span></button>
                                              <button type="button" class="btn btn-default" id="multifile_files_down_button"><span class="fa fa-angle-down"></span></button>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-8 col-xs-12 control-label">Total quantity</label>
                                  <div class="col-sm-4 col-xs-12">
                                      <div class="input-group">
                                          <input type="text" name="total_quantity" class="form-control" disabled>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
              </div>
        </div>
        </div>
    </form>
    <script type="text/javascript">
      $(function() {
        PPS.getQuote.init();
      });
    </script>
</div>
