{% load url from future %}
{% load staticfiles %}
{% load currency_filters %}
{% load simple_math %}
{% load humanize %}

<div id="getquote_wrap">


{% include 'options/partials/quote-content-script.html' %}
    <form class="form-horizontal" id="getquote" method="POST" action="{%url 'options:quote' pk=params.pk product_slug=params.product_slug %}">{% csrf_token %}
        <div id="panel-collapse-6" class="panel-collapse collapse in">
            <div class="panel-body">
            {% if custom_size %}
            <p>Insert the size in millimeters, please</p>
                {{custom_size_form}}
            {% endif %}
                {% if prices.discrete_pricing %}
                    <div class="row">
                    <ul class="list-unstyled">
                    {% for qty,price in prices.ordered.iteritems %}
                        <li class="col-md-2 col-sm-3 col-xs-6 text-center"
                          data-quantity="{% if prices.matrix_for_pack %}{{price.nr_of_units}}{% else %}{{qty}}{% endif %}"
                          data-unit_price="{% if trade_user %}{{ price.tpl_unit_price_incl_tax }}{% else %}{{ price.rpl_unit_price_incl_tax }}{% endif %}"
                          data-price="{% if trade_user %}{{ price.tpl_price_incl_tax }}{% else %}{{ price.rpl_price_incl_tax }}{% endif %}">
                            {% if prices.matrix_for_pack %} {{price.nr_of_units}}
                            {% else %} {{ qty|floatformat }}
                            {% endif %}
                            <input type="radio" class="form-control" name="quantity"  id="quantity_{{ qty }}" style="display:none">
                        </li>
                    {% endfor %}
                    <ul>
                    </div>
                    <div class="row">
                        <div class="col-md-8 form-group">
                            <label class="control-label col-sm-8 col-xs-12">
                                Choose or enter quantity for each
                            </label>
                            <div class="input-group col-sm-4 col-xs-12">
                                <input data-action="{{action}}" type="text" class="form-control" name="quantity" id="id_quantity">
                            </div>
                        </div>
                    </div>
                {% endif %}
              </div>
        </div>
    </form>
</div>
