{% extends 'dashboard/layout.html' %}

{% load url from future %}

{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}

{% block body_class %}jobs{% endblock %}
{% block title %}
    {% trans "Jobs management" %} | {{ block.super }}
{% endblock %}

{% block extrastyles %}
{{ block.super }}
<style type="text/css">
.jobs{
    height: 100%;
}
div.job {
    background: #fff;
    border: 1px solid #eee;
}
html, body, .page-content, .content, .dashboard {height: 100%;}
div.job:hover {
    border: 1px solid #d0d0d0;
}
.multi-zone-warning{
    font-size: 10px;
}
.sidebar {
    /*min-height: 100%;
    background: none repeat scroll 0% 0% rgb(240, 238, 238);
    border-right: 1px solid rgb(175, 175, 182);*/
}
</style>
{% endblock extrastyles %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'order-list' %}">{% trans "Jobs" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ staff_breadcrumb }}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1></h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
<div class="row-fluid">
    {% for job in job_list %}
        <div class="span2 well job">
            <a href="{% url 'job-task-list' job.id %}"> {{ job.name }}</a>
            <br />
            {{ job.task_set.count }} Tasks
        </div>
    {% endfor %}
</div>
<a class="btn btn-primary" href='/dashboard/jobs/create/'>Create a new Job</a>
{% endblock dashboard_content %}

{% block onbodyload %}
    oscar.dashboard.orders.initTable();
    oscar.dashboard.search.init();
{% endblock onbodyload %}