{% extends 'dashboard/jobs/job_base.html' %}

{% load url from future %}

{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}
{% load staticfiles %}
{% block extrastyles %}

<link rel="stylesheet" type="text/css" href="{% static "local/css/jquery-ui-1.8.16.custom.css" %}"/>
{{block.super}}
{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'job-list' %}">{% trans "Jobs" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">Task</li>
    </ul>
{% endblock %}

{% block dashboard_content %}

<div class="row-fluid">
    <div class="span3">
        <h3>Common Descriptions</h3>
        {% for desc in common_descriptions %}
        <p>
            <input type="radio" class="radio-select">&nbsp;&nbsp;&nbsp;<span class="desc">{{ desc }}</span>
            <a href="{% url 'delete-common-desc' form.initial.job.id desc.id %}" class="delete-desc" style="color:red; float:right;">x</a>
        </p>
        {% endfor %}
    </div>
    <div class="span6 well job">
    <form action="." method="post">{% csrf_token%}
        <legend>Task</legend>
        <p>Completeness: <span id="comp_value"></span>%</p>
        <div id="completeness"></div>
    {{ form.as_p }}
    
    <button type="submit" class="btn btn-primary">Save</button>
    </form>
    </div>
</div>
{% endblock dashboard_content %}


{% block extrascripts %}

    <script type="text/javascript" src="{% static "local/js/jquery-ui-1.8.16.custom.min.js"%}"></script>
    <script type="text/javascript">
    $(function() {
        $(".datePicker").datepicker();
        $('.radio-select').click(function(){
            $('#id_description').val($(this).parent().find('.desc').html());
        });
        $('.delete-desc').click(function(e){
            e.preventDefault();
            var that = $(this);
            var url = that[0].href ;
            console.log(url);
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(){
                    that.parent().hide('slow');
                },
            });
        });
    });
    
    $(function(){
    	var slide = $( "#completeness" ),
    	input = $( "#id_completeness" )
    	value= $('#comp_value');
    	slide.slider({
    		orientation: "horizontal",
			range: "min",
			min:0,
			max: 100,
			value:{{form.instance.completeness}},
			slide:function(){
				input.val(slide.slider('value'));
				value.html(slide.slider('value'));
			},
			change:function(){
				input.val(slide.slider('value'));
				value.html(slide.slider('value'));
			},
			});
		input.hide().prev('label').hide()
		value.html(slide.slider('value'));
	});
    </script>
{% endblock %}