{% extends "layout_2_col.html" %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
{{ title }} | {{ block.super }}
{% endblock %}

{% block body_class %}account-pages{% endblock %}

{% block breadcrumbs %}
<div class="set-size-grid">
    <a href="{% url promotions:home %}">{% trans 'Home' %}</a>
    <span class="divider">/</span>
    <a href="/accounts/">{% trans 'Account' %}</a>
    <span class="divider">/</span>
    <a href="{% url customer:address-list %}">{% trans 'Address book' %}</a>
    <span class="divider">/</span>
    <a href="#">{{ title }}</a>
    <h2>{{ title }}</h2>
<div>
{% endblock %}

{% block column_left %}
    {% include "partials/nav_profile.html" with address_book="active" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <form action="." method="post" class="" data-behaviours="lock">
            {% csrf_token %}
            {% include "partials/form_fields.html" with form=form %}
            <div class="form-actions">
                <button type="submit" value="Save" class="btn btn-primary">{% trans 'Save' %}</button>
                {% trans 'or' %}
                <a href="{% url customer:address-list %}">{% trans 'cancel' %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
