{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}create-page pricelist{% endblock %}

{% block title %}
{% trans "Pricelist Import from CSV" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard:index %}">{% trans "Dashboard" %}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{% trans "Pricelist Import from CSV" %}</li>
</ul>
{% endblock %}

{% block header %}
<div class="page-header action">
    <h1>{% trans "Pricelist Import from CSV" %}</h1>
</div>
{% endblock header %}

{% block dashboard_content %}
<p>
    <h2>{{ report.imported_total }} Prices imported successfully</h2>
</p>
<div class="table-header">
    <h2>{{ report.skipped_total }} Skipped Entries</h2>
</div>
<table class="table table-striped table-bordered">
<tr>
    <th>Column</th>
    <th>Reason</th>
    <th>Data</th>
</tr>
{% for column, reason, data in report.skipped %}
<tr> 
    <td>{{ column }}</td>
    <td>{{ reason }}</td>
    <td>{{ data }}</td>
</tr>
{% endfor %}
</table>

{% endblock dashboard_content %}