.option-choice ul li { display: inline-block; text-align: center; margin: 8px;}
.option-choice select {margin: 8px;}

.option-choice-errors { color: red;}
.option-choice-errors strong { font-size: 12px;}

.wizard-progress ul li { display:  inline; font-size: 12px; vertical-align: baseline;}
.wizard-progress ul li:after { content: ' > ';}
.wizard-progress ul li:last-child:after { content: '';}
.wizard-progress strong { font-weight: bold;}

.choice-list ul li { display: inline-block; text-align: center; margin: 8px;}

.price-calculator table { margin-bottom: 16px;}
.price-calculator div { margin-bottom: 16px;}
.price-calculator table tr th { text-align: left; font-size: 12px; padding-bottom: 8px;}
.quote-errors { color: red;}
.quote-errors strong { font-size: 12px;}
