{% extends 'layout.html' %}
{% load url from future %}
{% load staticfiles %}
{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "options/css/styles.css" %}" />
{% endblock %}

{% block breadcrumbs %}
<div class="set-size-grid clearfix">
  <div class="wizard-progress">
    <ul>
      <li><a href="{%url 'options:pick' pk=params.pk product_slug=params.product_slug %}">Select Options</a></li>
      <li><strong>Get Quote</strong></li>
      <li>Upload Files</li>
    </ul>
  </div>
  <h2>Get Quote</h2>
</div>
{% endblock %}

{% block content %}
<div id="quote-content" class="clearfix center-block">
	{% include 'options/partials/quote-content.html' %}
	
</div>
{% endblock %}
{% block morescripts %}
	{{block.super}}
	{% if prices.discrete_pricing and not prices.matrix_for_pack and not costum_size %}
	<!-- some javascript -->
	<script type="text/javascript" src="{% static 'local/js/quote.js' %}"></script>
	{%endif%}
{% endblock %}
