{% extends 'layout.html' %}
{% load url from future %}
{% load staticfiles %}

{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "options/css/styles.css" %}" />
{% endblock %}

{% block breadcrumbs %}
<div class="set-size-grid clearfix">
  <div class="wizard-progress">
    <ul>
      <li><a href="{%url 'options:pick' pk=params.pk product_slug=params.product_slug %}">Select Options</a></li>
      <li><a href="{%url 'options:quote' pk=params.pk product_slug=params.product_slug %}">Get Quote</a></li>
      <li><strong>Upload Files</strong></li>
    </ul>
  </div>
  <h2>Upload Files</h2>
</div>
{% endblock %}

{% block content %}
<div class="clearfix center-block">
  <div class="grid-8 float-left">
  {% if items %}
  <h2>Uploaded:</h2>
  <div class="upload-items float-left">
    <ul>
      {% for item in items %}
      <li>
        <form id="del-{{ item.file.pk }}" method="POST" action="{%url 'options:upload-artwork-delete' pk=params.pk product_slug=params.product_slug file_id=item.file.pk %}">{% csrf_token %}
          <input value="delete" type="submit" class="button"/> {{ item.file.filename }}
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <h2>No files uploaded yet</h2>
  {% endif %}
  </div>

  <div class="grid-11 upload-form float-left">
    <form id="artworkuploadform" method="POST" enctype="multipart/form-data">{% csrf_token %}
      {{ uploadform.image }}
    <input value="Upload" type="submit" class="button"/>
    </form>
  </div>

  <div class="grid-2 float-left options-next">
    <form id="next" method="POST" action="{%url 'options:add-to-basket' pk=params.pk product_slug=params.product_slug %}">{% csrf_token %}
      <input value="Add to basket" type="submit" class="finish button"/>
    </form>
  </div>


</div>
{% endblock %}