{% extends 'dashboard/layout.html' %}

{% load url from future %}

{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}

{% block body_class %}jobs{% endblock %}
{% block title %}
    {% trans "Jobs management" %} | {{ block.super }}
{% endblock %}

{% block extrastyles %}
{{ block.super }}
<style type="text/css">
div.box {
    background: #fff;
    border: 1px solid #eee;
}
</style>
{% endblock extrastyles %}


{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'project-list' %}">{% trans "Jobs" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ staff_breadcrumb }}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1></h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="row-fluid">
        <div class="span4 box well">
            <h2>Small Format Digital Team</h2>
            <ul>
            {% for line in small %}
                <li><a href="{% url 'project-line-detail' order.id line.id %}">{{ line }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="span4 box well">
            <h2>Large Format Digital Team</h2>
            <ul>
            {% for line in large %}
                <li><a href="{% url 'project-line-detail' order.id line.id %}">{{ line }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="span4 box well">
            <h2>Exhibition Format Digital Team</h2>
            <ul>
            {% for line in exhibition %}
                <li><a href="{% url 'project-line-detail' order.id line.id %}">{{ line }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock dashboard_content %}        