{% extends 'dashboard/layout.html' %}

{% load url from future %}

{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}

{% block body_class %}jobs{% endblock %}
{% block title %}
    {% trans "Jobs management" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{% trans "Jobs management" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{% trans "Jobs management" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="row-fluid">
        <div class="span6 well">
            <div class="row-fluid">
            <form action="." method="post">{% csrf_token %}
                {% for status in statuses %}
                <div class="span2">
                    <input type="radio" name="status" {% if status == line.status %}checked{% endif %} value="{{ status }}" /> {{ status }} 
                </div>
                {% endfor %}
                <button type="submit">Click Me!</button> 
            </form> 
            </div>
            <h2>{{ line.product }}</h2>

        </div>
        <div class="span3 well">
            <h2>Form to follow changes</h2>
            <ul>
        </div>
    </div>
{% endblock dashboard_content %}        