{% load i18n %}

<div class="sidebar-left hidden-sm hidden-xs">
        <div class="panel panel-primary">
            <a class="panel-heading" data-toggle="collapse" href="#panel-category-1">Account</a>
                <div class="panel-body panel-collapse collapse in" id="panel-category-1">
                    <ul class="list-unstyled">
                        <li><a href="#profile">{% trans 'Profile' %}</a></li>
                        <li><a href="#orders">{% trans 'Order History' %}</a></li>
                        <li><a href="#addresses">{% trans 'Address Book' %}</a></li>
                        <li><a href="#emails">{% trans 'Email History' %}</a></li>
                        <li><a href="#alerts">{% trans "Alerts" %}</a></li>
                        {% block extra_tabs_nav %}
                        {% endblock %}
                    </ul>
                </div>
        </div>
</div>
