{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
{% load simple_math %}


<!-- MAIN NAV -->
<div class="navbar navbar-default hidden-xs" role="navigation" id="main-nav">
    <ul class="nav navbar-nav">
        <li><a href="{% url promotions:home %}">Home</a></li>
        <li>
            <a href="#" role="button" data-toggle="dropdown">Products <span class="fa fa-angle-down"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                    <div class="row">
                        {% if categories %}
                            {% for category in categories %}
                            <div class="col-md-3 col-xs-3">
                            <h3>{{ category.0.name }}</h3>
                            {% if category.1 %}
                                <ul class="{% if category.0.get_children_count > 11 %}two-columns{% endif %}">
                                    {% for subcategory in category.1 %}
                                        <li>
                                            <a href="{{ subcategory.0.get_absolute_url }}"> {{ subcategory.0.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="/about/">About Us</a></li>
        <li><a href="/services/">Customer Area</a></li>
        <li><a href="/corporate-policies/">Service & Help</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</div>
