.basket-title {
  clear: both;
  border: 1px solid #ddd;
  background: #F2F2F2;
  padding: 20px;
  margin-bottom: 10px;
}

.basket-header {
  min-height: 30px;
}

.basket-item {
  min-height: 150px;
}

.basket-items {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
}

.page-header {
  margin: 0 0 0 140px;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
}

#page-title-no-border {
  width: 100%;
  padding: 24px 0px 24px 0px;
}

.price-center {
  text-align: center;
}

.price_color {
  font-size: 16px;
  font-weight: bold;
  display: block;
  color: #4ca84c;
}

.basket_summary {
  padding-top: 20px;
  clear: both;
}

.basket_summary .well {
  min-height: 400px;
}

.promo {
  margin-right: 50px;
}

.sub-header h2 {
  text-transform: uppercase;
}

#basket_totals {
  padding-top: 20px;
}

#basket_totals table td,
#basket_totals table th {
  text-align: left;
  margin: 10px;
  font-size: 14px;
}

