{% load i18n %}
{% load currency_filters %}
{% load thumbnail %}
{% load simple_math %}
{% load static %}

<form action="." method="post" class="basket_summary" id="basket_formset">{% csrf_token %}
    {{ formset.management_form }}
    <table id="basket-table" class="table">
        <thead class="basket_table-header" >
                {% block basket_form_headers %}
                <tr>
                            <th class="span3">{% trans "Quantity/Size" %}</th>
                            <th class="span4">{% trans "Specification" %}</th>
                            <th class="span2">{% trans "Price exc. VAT" %}</th>
                            <th class="span1">{% trans "VAT" %}</th>
                            <th class="span2">{% trans "Price inc. VAT" %}</th>
                            <th class="span2"></th>
                    </tr>
                    {% endblock %}
            </thead>

        <tbody>
                {% for form in formset %}
                    {% with form.instance.product as product%}
                    <tr>
                        {{ form.id }}
                        <td class="">
                            {% with stockrecord=form.instance.stockrecord_source option=form.instance.OPTIONS_CALCULATOR product=form.instance.PRODUCT_STOCKRECORD   %}
                            {{ form.quantity }}
                            {% endwith %}
                            <button class="btn btn-small pull-right" type="submit">{% trans "Update" %}</button>
                            {% with image=product.primary_image %}
                                {% thumbnail image.original "200x200" upscale=False as thumb %}
                                    <img class="thumbnail" src="/media/{{ thumb.name }}" alt="{{ product.get_title }}">
                                {% endthumbnail %}

                            {% endwith %}
                        </td>
                        <td>
                                <a href="{{ form.instance.product.get_absolute_url }}"><b>{{ form.instance.product.get_title }}</b></a>
                                <ul>
                                {% with  form.instance.attributes.all as attributes %}
                                        {% for attribute in attributes %}
                                                {% if attribute.option.name == 'items_per_pack' %}
                                                {% else %}
                                                <li>{{ attribute.option.name }}: {{attribute.value}}</li>
                                                {% endif %}
                                        {% endfor %}
                                {% endwith %}
                                </ul>
                        </td>
                        <td>
                                {{ form.instance.unit_price_excl_tax|multiply:form.quantity.value|currency }}
                        </td>
                        <td>
                                {% with form.instance.unit_tax|multiply:form.quantity.value as vat %}
                                        {% if not vat or vat == 0 %}
                                                n/d
                                        {% else %}
                                                {{vat|currency}}
                                        {% endif %}
                                {% endwith %}
                        </td>
                        <td>
                                {{ form.instance.unit_price_incl_tax|multiply:form.quantity.value|currency }}
                        </td>
                        <td class="centered">
                                {% if product.prices.count > 0 %}
                              <a class="btn btn-small span1" href="{% url options:pick pk=product.pk product_slug=product.slug %}" class="button button-green">Duplicate</a>
                                {% endif %}
                                <a class="js-remove-item" href="{% url basket:items-remove form.instance.pk %}?next={{ request.get_full_path|urlencode }}"><img src="{% static "local/images/delete.png" %}"></a>
                                <div style="display:none" hidden="true" aria-hidden="true">
                        {{ form.save_for_later }}
                        {{ form.DELETE }}
                </div>
                        </td>
                </tr>
                <tr>
                        <td class="collspan" colspan="6"></td>
                </tr>
                {% endwith %}
                {% endfor %}

        {% for line in basket.dead_lines %}
          <tr class="table-row-variant danger">
            <td>{{ line.quantity }}</td>
            <td>
              <a href="{{ line.product.get_absolute_url }}"><b>{{ line.product.get_title }}</b></a>
              <ul>
              {% with  line.attributes.all as attributes %}
                {% for attribute in attributes %}
                  {% if attribute.option.name == 'items_per_pack' %}
                  {% else %}
                    <li>{{ attribute.option.name }}: {{attribute.value}}</li>
                  {% endif %}
                {% endfor %}
              {% endwith %}
              </ul>
            </td>
            <td>{{ line.unit_price_excl_tax }}</td>
            <td>
              {% with line.unit_tax|multiply:line.quantity as vat %}
                {% if not vat or vat == 0 %}
                        n/d
                {% else %}
                        {{vat|currency}}
                {% endif %}
              {% endwith %}
            </td>
            <td>{{ line.unit_price_incl_tax|multiply:line.quantity|currency }}</td>
            <td>
              <a class="js-remove-item" href="{% url basket:items-remove line.pk %}?next={{ request.get_full_path|urlencode }}"><img src="{% static "local/images/delete.png" %}"></a>
              <a class="js-toggle-item-on" href="{% url basket:items-toggle-live line.pk %}?next={{ request.get_full_path|urlencode }}"><img src="{% static "local/images/notlive.png" %}" alt="|" /></a>
            </td>
          </tr>
        {% endfor %}

        </tbody>
    </table>
</form>