{% load i18n %}
{% load currency_filters %}
{% load thumbnail %}
{% load simple_math %}
{% load widget_tweaks %}
{% load static %}

<form action="." method="post" class="basket_summary" id="basket_formset">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="table-responsive">
        <table id="basket-table" class="table basket-table">
            <thead class="basket_table-header">
            {% block basket_form_headers %}
                <tr>
                    <th>{% trans "Specification" %}</th>
                    <th>{% trans "Quantity/Size" %}</th>
                    <th>{% trans "Price exc. VAT" %}</th>
                    <th>{% trans "VAT" %}</th>
                    <th>{% trans "Price inc. VAT" %}</th>
                    <th>&nbsp;</th>
                </tr>
            {% endblock %}
            </thead>

            <tbody>
            {% for form in formset %}
                {% with form.instance.product as product %}
                    <tr>
                        <td>
                            {{ form.id }}
                            {% with image=product.primary_image %}
                                {% thumbnail image.original "200x200" upscale=False as thumb %}
                                    <img class="thumbnail" src="/media/{{ thumb.name }}" alt="{{ product.get_title }}">
                                {% endthumbnail %}
                            {% endwith %}
                            <a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.product.get_title }}</a>
                            <ul>
                                {% with  form.instance.attributes.all as attributes %}
                                    {% for attribute in attributes %}
                                        {% if attribute.option.name == 'items_per_pack' %}
                                        {% else %}
                                            <li>{{ attribute.option.name }}: {{ attribute.value }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </ul>
                        </td>
                        <td class="">
                            <div style="width: 50%; display:inline-block;">
                                {% with stockrecord=form.instance.stockrecord_source option=form.instance.OPTIONS_CALCULATOR product=form.instance.PRODUCT_STOCKRECORD %}
                                    {{ form.quantity|add_class:"form-control" }}
                                {% endwith %}
                            </div>
                            <button class="btn btn-basket-update" type="submit">
                                <i class="fa fa-refresh fa-lg"></i>
                            </button>
                        </td>
                        <td>
                            {{ form.instance.line_price_excl_tax|currency }}
                        </td>
                        <td>
                            {% with form.instance.line_tax as vat %}
                                {% if not vat or vat == 0 %}
                                    n/d
                                {% else %}
                                    {{ vat|currency }}
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td>
                            {{ form.instance.line_price_incl_tax|currency }}
                        </td>
                        <td class="centered">
                            {% if product.prices.count > 0 %}
                                <div style="display: inline-block">
                                    <a class="btn btn-link"
                                       href="{% url options:pick pk=product.pk product_slug=product.slug %}"><i
                                            class="fa fa-copy fa-lg"></i>
                                    </a>
                                </div>
                            {% endif %}
                            <div style="display: inline-block">
                                <a class="btn btn-link js-remove-item"
                                   href="{% url basket:items-remove form.instance.pk %}?next={{ request.get_full_path|urlencode }}">
                                    <i class="fa fa-times-circle fa-lg"></i>
                                </a>

                                <div style="display:none" hidden="true" aria-hidden="true">
                                    {{ form.save_for_later }}
                                    {{ form.DELETE }}
                                </div>
                            </div>

                            <div style="display: inline-block">
                                <a href="#" class="btn btn-link">
                                    <i class="fa fa-minus-circle fa-green fa-lg" style="color: forestgreen;"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}

            {% if basket.dead_lines %}
                <tr>
                    <td class="collspan" colspan="6"></td>
                </tr>

                {% for line in basket.dead_lines %}
                    <tr class="table-row-deadline">
                        <td>
                            <a href="{{ line.product.get_absolute_url }}">{{ line.product.get_title }}</a>
                            <ul>
                                {% with  line.attributes.all as attributes %}
                                    {% for attribute in attributes %}
                                        {% if attribute.option.name == 'items_per_pack' %}
                                        {% else %}
                                            <li>{{ attribute.option.name }}: {{ attribute.value }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </ul>
                        </td>
                        <td>{{ line.quantity }}</td>
                        <td>{{ line.unit_price_excl_tax }}</td>
                        <td>
                            {% with line.unit_tax|multiply:line.quantity as vat %}
                                {% if not vat or vat == 0 %}
                                    n/d
                                {% else %}
                                    {{ vat|currency }}
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td>{{ line.unit_price_incl_tax|multiply:line.quantity|currency }}</td>
                        <td>
                            {% if product.prices.count > 0 %}
                                <div style="display: inline-block">
                                    <a class="btn btn-link" href="{% url options:pick pk=product.pk product_slug=product.slug %}">
                                        <i class="fa fa-copy fa-lg"></i>
                                    </a>
                                </div>
                            {% endif %}
                            <div style="display: inline-block">
                                <a class="btn btn-link js-remove-item" href="{% url basket:items-remove line.pk %}?next={{ request.get_full_path|urlencode }}">
                                    <i class="fa fa-times-circle fa-lg"></i>
                                </a>
                            </div>

                            <div style="display: inline-block">
                                <a href="{% url basket:items-toggle-live line.pk %}?next={{ request.get_full_path|urlencode }}" class="btn btn-link js-toggle-item-on">
                                    <i class="fa fa-minus-circle fa-rotate-90 fa-lg"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</form>