{% load i18n %}
{% load thumbnail %}
{% load simple_math %}
{% load currency_filters %}


{# Input params: item, quantity #}
<div class="span10 offset1">
<!-- Progress Bar -->
<ol class="progtrckr" data-progtrckr-steps="4">
	<li class="progtrckr-done">Downloaded</li><!--
 --><li class="progtrckr-done">Uploaded</li><!--
 --><li class="progtrckr-todo">In Progress</li><!--
 --><li class="progtrckr-todo">Collect/Dispatch</li>
</ol>
</div>

<script type="text/javascript">
$(window).load(function(){
    $("ol.progtrckr").each(function(){
        $(this).attr("data-progtrckr-steps", 
                     $(this).children("li").length);
    });
})
</script>
<style type="text/css">
ol.progtrckr {
    margin: 0 0 50px 0;
    padding: 0;
    list-style-type none;
}
ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}
ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}
	ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
	ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
	ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
	ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
	ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
	ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
	ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
	ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }
ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}
</style>

<table id="basket-table">
<thead class="basket_table-header" >
{% block basket_form_headers %}
<tr>
<th class="span4">{% trans "Image" %}</th>
<th class="span4">{% trans "Specification" %}</th>
<th class="span2">{% trans "Price exc. VAT" %}</th>
<th class="span1">{% trans "VAT" %}</th>
<th class="span2">{% trans "Price inc. VAT" %}</th>
</tr>
{% endblock %}
</thead>

<tbody>
{% with item.product as product %}
<tr>
{% block line_item_header %}
{% endblock %}

<td class="">
{% block line_item_thumbnail_data %}
  Quantity: {{ item.quantity }}
  {% with image=product.primary_image %}
    {% thumbnail image.original "200x200" upscale=False as thumb %}
      <img class="thumbnail" src="/media/{{ thumb.name }}" alt="{{ product.get_title }}">
    {% endthumbnail %}
  {% endwith %}
{% endblock %}
</td>
<td>
<a href="{{ product.get_absolute_url }}"><b>{{ product.get_title }}</b></a>
<ul>
  {% with  item.attributes.all as attributes %} {% for attribute in attributes %}
      {% if attribute.option.name == 'items_per_pack' %}
      {% else %}
        <li>{{ attribute.name }}: {{attribute.value}}</li>
      {% endif %}
    {% endfor %}
  {% endwith %}
</ul>
</td>
<td>
{{ item.unit_price_excl_tax|multiply:quantity|currency }}
</td>
<td>
{% with item.unit_tax|multiply:quantity as vat %}
{% if not vat or vat == 0 %}
n/d
{% else %}
{{vat|currency}}
{% endif %}
{% endwith %}
</td>
<td>
{{ item.unit_price_incl_tax|multiply:quantity|currency }}
</td>

{% block line_item_footer %}
{% endblock %}
</tr>
<tr>
<td class="collspan" colspan="6"></td>
</tr>
{% endwith %}
</tbody>
</table>

