{% extends 'oscar/checkout/payment_details.html' %}
{% load i18n %}
{% load staticfiles %}

{% block payment_details %}
    <div class="row" style="min-height: 250px;">
        <div class="col-md-6">
            <div class="page-header">
                <h4>Order option</h4>
            </div>
            <p class="text-muted lead">
                Any order options
            </p>
        </div>
        <div class="col-md-6">
            <div class="page-header">
                <h4>Payment option</h4>
            </div>

            {% block payment_details_content %}
                <div class="form-actions">
                    <a href="{% url paypal-redirect %}"><img
                            src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left"
                            style="margin-right:7px;"></a>
                </div>
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="#" class="btn btn-link">
                <i class="fa fa-angle-left fa-lg"></i>&nbsp;{% trans "Back" %}
            </a>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <a href="#" class="btn btn-primary">
                    <i class="fa fa-angle-left fa-lg"></i>&nbsp;{% trans "Next" %}
                </a>
            </div>
        </div>
    </div>

{% endblock payment_details %}
